.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(90deg, rgba(202,255,0,0.3561799719887955) 0%, rgba(239,240,231,1) 59%);
 }
  
  .left-section {
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
  .right-section {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .forgot-password{
    font-size: small;
  }

  .registration-link{
    font-size: small;

  }
  
  .login-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group {
    margin-bottom: 20px;
    width: 100%;
  }
  
  label {
    font-weight: bold;
    color: #555;
  }

  .email {
    color: black;
  }
  .password {
    color: black;
  }
  .line{
    color: #333;
    border: #07f14d;
  }
  
  .login-button {
    padding: 10px ;
    background-color: #07f14d;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    width: 98%;
  }

  .img {
    width: auto;
  }
  .right-section .description-image {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 20px;
  }
  
  .right-section .description {
    text-align: center;
  }
  
  .right-section .description h3 {
    margin-bottom: 10px;
    color: #333;
  }
  
  .right-section .description p {
    color: #555;
    margin-bottom: 20px;
  }
  
  .signup-button {
    padding: 10px 16px;
    background-color: #ff5722;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  .login-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .left-section {
    flex: 1;
  }
  
  .line {
    width: 4px;
    height: 100%;
    background-color: black;
  }
  
  .right-section {
    flex: 1;
  }
  