.main-container{
  background: linear-gradient(90deg, rgba(202,255,0,0.3561799719887955) 0%, rgba(232,240,231,1) 100%);
  padding: 30px;
}

.registration-form-container {
  background: linear-gradient(90deg, rgba(202,255,0,0.3561799719887955) 0%, rgb(50, 223, 28) 100%);
}

  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:first-child {
    margin-right: 10px;
  }
  
  button[type="submit"] {
    background-color: #007bff;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  .second-section{
    padding: 20px;
  }
  
  